<%- include("./partials/header", { title: "page D'acceuil", style: "home"}) %>

<% if (locals.connected) { %>
    <h1>Bonjour <%= locals.user.username %> </h1>
<% } else { %>
    <h1> Utilisateur inconnu</h1>
<% } %>
<main>
    <% if (locals.posts) {%>
        <div class="posts">
            <% posts.forEach(post => { %>
                <div class="post">
                    <h3><%= post.title %></h3>
                    <p><%= post.content.substring(0,50).concat("...") %></p>
                    <button><a href="/post/detail/<%= post.id %>">Lire la suite</a></button>
                </div>
                <%}) %>
        </div>
<% } %>

</main>

<%- include("./partials/footer") %>

